//custom variables
$body-color:#412620;

//import vendor variables
//@import "~bootstrap/scss/bootstrap";
@import "~/node_modules/bootstrap/scss/bootstrap";


//customise the rest
$custom-colors: (
    "dark": #412620
);
$theme-colors: map-merge($theme-colors, $custom-colors);



